<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <a class="logo" href="#"><img src="img/logo.png" alt="Logo Image"> <strong>Fatih Can Keser</strong></a>
                    <p class="copyright">Fatih Can Keser @ 2018. All rights reserved.</p>
                    <p class="copyright">Designed by <a href="https://www.instagram.com/misaliperver" target="_blank">misaliperver</a></p>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/fatihcan.keser.9"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="https://www.instagram.com/misaliperver"><i class="ion-social-instagram-outline"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCWPFoeeio_chplYdI58rRDQ"><i class="ion-social-youtube-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                    <div class="footer-section">
                    <h4 class="title"><b>CATAGORIES</b></h4>
                    <ul>
                        <li><a href="#">BEAUTY</a></li>
                        <li><a href="#">HEALTH</a></li>
                        <li><a href="#">MUSIC</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">SPORT</a></li>
                        <li><a href="#">DESIGN</a></li>
                        <li><a href="#">TRAVEL</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="footer-section">
                    <h4 class="title"><b>SUBSCRIBE</b></h4>
                    <div class="input-area">
                        <form>
                            <input class="email-input" type="text" placeholder="Enter your email">
                            <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>