.sky {
	height: 100%;
	background: none repeat scroll 0 0 #34283F;
	color: #FFF;
	padding: 12px;
	font-family: Helvetica;
	display: block;
}
.light{
	position: absolute;
	margin:auto;
	-webkit-box-shadow: 10px 10px 300px 120px #0ff;
	-moz-box-shadow: 10px 10px 300px 120px #0ff;
	box-shadow: 10px 10px 300px 300px #0ff;
	opacity: 0.3;
}
.bg-aqua{
	background-color: rgb(1, 37, 37);
	color: #0ff;
}
.bg-show{
	background-color: rgb(37, 1, 19);
	color: rgb(247, 35, 141);
	font-family: 'Roboto', sans-serif;
}
  
html, body {    
height: 100%;
width: 100%;
font-family: sans-serif; 
}

body {
	margin: 0;
}

#headerNotification{
	margin-top:90px;
	margin-bottom:auto;
	text-align: center;
	perspective: 1000;
	z-index: 1000;
	
}

/* flip to img */
.flip-container {
	margin: auto;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.flip-container:hover .back {
	transform: rotateY(0deg);
}
.flip-container:hover .front {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 100px;
	height: 100px;
}
.flipper {
	
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(-180deg);
}
.vertical.flip-container {
	position: relative;
}
.vertical .back {
	transform: rotateX(180deg);
}
.vertical.flip-container:hover .back {
	transform: rotateX(0deg);
}
.vertical.flip-container:hover .front {
	transform: rotateX(180deg);
}


.light-board{
	border: #0ff 1px solid;
	width: 600px;
	border-radius: 10px  10px  10px  10px ;
	padding: 10px;
	-webkit-box-shadow:  0px 3px  0px 2px rgb(0, 43, 43);
	-moz-box-shadow:  0px 3px  0px 2px rgb(0, 43, 43);
	box-shadow: 0px 5px  10px 2px rgb(0, 43, 43);
}

#scorerTable thead th{
	font-size:13px;
	border-top-style: none;
	border-bottom:#0ff 1px solid;
	border-bottom-style: none;
	-webkit-box-shadow:  0px 1px  5px 1px rgb(0, 43, 43);
	-moz-box-shadow: 0px 1px  5px 1px rgb(0, 43, 43);
	box-shadow: 0px 1px  5px 1px rgb(0, 43, 43);
}
#scorerTable td{
	font-size:13px;
	border: 1px solid rgba(14, 248, 236, 0.1);
	border-top-style: none; border-left-style: none;border-right-style: none;
	-webkit-box-shadow:  0px 0px  1px 0px rgba(0, 43, 43, 0.5);
	-moz-box-shadow: 0px 0px  1px 0px rgba(0, 43, 43, 0.5);
	box-shadow: 0px 0px  1px 0px rgba(0, 43, 43, 0.5);
}
#scorerTable tr:hover{
	font-size:13px;
	border: 1px solid rgba(14, 248, 236, 0.1);
	border-top-style: none; border-left-style: none;border-right-style: none;
	-webkit-box-shadow:  0px 0px  5px 1px rgb(0, 43, 43);
	-moz-box-shadow: 0px 0px  5px 1px rgb(0, 43, 43);
	box-shadow: 0px 4px  5px 0px rgba(0, 43, 43, 0.5);
}
#scorerTable thead th:hover{
	border-top-style: none;
	-webkit-box-shadow:   0px 1px  20px 1px rgb(0, 43, 43);
	-moz-box-shadow:   0px 1px  20px 1px rgb(0, 43, 43);
	box-shadow: 0px 1px  20px 1px rgb(0, 43, 43);
}