<div class="d-flex justify-content-center"><div class="light"></div></div>
<div class="sky d-flex justify-content-center">
    <div class="color" id="headerNotification">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img style="margin-left:-60px; margin-top:20px; " src="/img/logo.png">
                </div>
                <div class="back">
                    <i style="font-size: 96px; color:greenyellow;" class="fas fa-user"></i>
                </div>
            </div>
        </div>
        <div class="light-board">
            404 - Bad Request 
        </div>
    </div>
</div>

<% include modals/raffle.ejs %>