<div class="d-flex justify-content-center"><div class="light"></div></div>
<div class="sky d-flex justify-content-center">
    <div class="color" id="headerNotification">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <img style="margin-left:-60px; margin-top:20px; " src="/img/logo.png">
                </div>
                <div class="back">
                    <i style="font-size: 76px; color:greenyellow;" class="fas fa-user"></i>
                    <i>{{username}}</i>
                </div>
            </div>
        </div>
        <button style="opacity: 0;float:left; margin:10px; margin-top: 2px; margin-bottom: 3px;" class="btn btn-outline-success" ng-click="rankback()"><i class="fas fa-star"></i></button>
        <button id="nextbtn" style="opacity: 0;float:right;margin:10px;margin-top: 2px; margin-bottom: 3px;" class="btn btn-outline-success" ng-click="ranknext()"><i class="fas fa-greater-than"></i></button>
        <div class="light-board">
            <table id="scorerTable" class="table  text-center text-light">
                <thead>
                    <tr>
                        <th>Rank</th><th>Username</th><th>Age</th><th>Score</th><th>Increase</th>
                    </tr>
                </thead>
                <tbody style="opacity: 0;">
                    <tr ng-repeat="x in fiveofranks">
                        <td ng-bind="x.rank"></td>
                        <td ng-bind="x.username"></td>
                        <td ng-bind="x.age"></td>
                        <td ng-bind="x.score"></td>
                        <td ng-if="x.lastdayranked-x.rank>0" style="color: yellowgreen"><strong>+</strong>{{x.lastdayranked-x.rank}}</td>
                        <td ng-if="x.lastdayranked-x.rank<0" style="color: rgb(243, 152, 92)"><strong>-</strong>{{x.lastdayranked-x.rank}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include modals/raffle.ejs %>